*{
  margin:0;
  padding:0;
}
body {
  margin:0;
  font-family: Impact, Charcoal, sans-serif	;
  font-size:20px;
  color:#000000;
line-height:1.6;
  font-weight: bold;

}

#showcase {
    background-image:url('../img.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align: center;
    padding:0 30px;
  }

  #showcase h1{
    font-size:50px;
    line-height: 1.2;
}
#showcase p{
  font-size:20px;
}

#section-a{
  padding:20px;
  background:white;
  color:#00FF7F;
  text-align: center;
  border:4px solid black;
}
#section-b{
  padding:20px;
  background:white;
  color:#40E0D0;
  text-align: center;
  border:4px solid black;
}
#section-c{
  display:flex;
  background-color: white;
}

#section-c div{
  padding:20px;
}

#section-c .box-1,#section-c .box-2, #section-c .box-3{
  color:#4169E1;
  border: 4px solid black;
}

}
